In [58]:
import pandas as pd

# multiple by serving size

meals = pd.DataFrame(columns=['meal_date', 'meal_session', 'calories', 'protein', 'carbohydrates', 'total_fat'])
new_meal = pd.DataFrame([{
            'meal_date': datetime.strptime('01/27/2024', '%m/%d/%Y'), 
            'meal_session': 'Lunch', 
            'calories': 100, 
            'protein': 100, 
            'carbohydrates': 100, 
            'total_fat': 100
        }])

meals = pd.concat([meals, new_meal])
meals = pd.concat([meals, new_meal])

new_meal = pd.DataFrame([{
            'meal_date': datetime.strptime('01/26/2024', '%m/%d/%Y'), 
            'meal_session': 'Lunch', 
            'calories': 20, 
            'protein': 20, 
            'carbohydrates': 20, 
            'total_fat': 20
        }])

meals = pd.concat([meals, new_meal])

meals

/tmp/ipykernel_83673/3495307976.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  meals = pd.concat([meals, new_meal])

   meal_date meal_session calories protein carbohydrates total_fat
0 2024-01-27        Lunch      100     100           100       100
0 2024-01-27        Lunch      100     100           100       100
0 2024-01-26        Lunch       20      20            20        20

In [41]:
data = meals.groupby('meal_date').sum()
data = data.reset_index()
data[data['meal_date'] == '01/27/2024']['calories']

1    200
Name: calories, dtype: object

In [63]:
from datetime import datetime, timedelta

past_biweek = datetime.today() - timedelta(days=14)

data = meals[(meals['meal_date']>= pd.to_datetime(past_biweek))]
data = data[['meal_date', 'calories']].groupby('meal_date').sum().reset_index()

   meal_date calories
0 2024-01-26       20
1 2024-01-27      200

In [65]:
past_five_meals = datetime.today() - timedelta(days=5)

data = meals[(meals['meal_date']>= pd.to_datetime(past_five_meals))]
data = data[['meal_date', 'calories', 'protein', 'total_fat', 'carbohydrates']].groupby('meal_date').sum().reset_index()
data

   meal_date calories protein total_fat carbohydrates
0 2024-01-26       20      20        20            20
1 2024-01-27      200     200       200           200